<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.Pazarabo100kwt.pazar">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/pazar"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_file"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute">
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            />
        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.LogInActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activities.RegistrationActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activities.SearchProductsActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".activities.CategoriesActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activities.SubCategoriesActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activities.FavoritesActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activities.ProductDetailsActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activities.CartActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activities.ConfirmBillActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activities.OffersActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activities.DiscountsActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activities.GiftsActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activities.SelectPaymentActivity"
            android:screenOrientation="portrait"
            />
    </application>

</manifest>